:root{
    --main-grey: #BCBCBC;
    --main-black: #231f20;
    --main-black-a: rgba(35,31,32,.15);
}

#header{
    height: 60px;
    width: 100%;
    background-color: white;
    top: 0;
    position: fixed;
    z-index: 10;

}
body {
    background-size: 100%;
    background: url("mainBG.jpg") no-repeat;
    background-position-y: -200px;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


h1{
    font-family: 'Lato', sans-serif;
    font-size: 36pt;
}
h3{
    font-family: 'Lato', sans-serif;
}

a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 10pt;
    color: var(--main-grey);
}
a:hover{
text-decoration: underline;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--main-grey);
    opacity: 1; /* Firefox */
}

.search:hover{
    text-decoration: underline;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


#masthead{
    width: 150px;
    margin-left: 20px;
    display: block;
    cursor: pointer;
}

.ingredientFill{
    width: 350px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    border: none;
    border-bottom: 1px solid var(--main-grey);
    font-size: 11pt;
}



.account{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 10pt;
    color: var(--main-grey);
    float: right;
    margin-right: 30px;
    margin-top: -37px;

}
.account:hover{
    text-decoration: none;
    color: rgb(138, 138, 138);
}

#search_div{
    width: 450px;
    height: 580px;
    float: left;
    position: relative;
    top: 160px;
    left: 8%;
    z-index: 10;
    background-color: white;
    border-radius: 30px;
    padding: 10px 50px 10px 50px;
    -webkit-box-shadow: 0 0 74px 2px var(--main-black-a);
    -moz-box-shadow: 0 0 74px 2px var(--main-black-a);
    box-shadow: 0 0 74px 2px var(--main-black-a);
}
.search{
    background-color: transparent;
    border: none;
    color: var(--main-black);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    float: right;
    margin-right: 40px;
}